<% content_for :question_title, t("views.basic_info_milestone.edit.title_html") %>

<%= image_tag "apple.svg", class: "illustration left-justified" %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<p class="spacing-below-25"><%= t("views.basic_info_milestone.edit.help_text_html") %></p>
<p class="spacing-below-60"><%= t("views.basic_info_milestone.edit.instructions") %></p>

<%= render "shared/continue_button" %>
