<% content_for :question_title, t("views.basic_info_milestone.edit.title_html") %>

<%= image_tag "form-with-checkmark.svg", class: "illustration left-justified" %>

<h1 class="h2"><%= content_for(:question_title) %></h1>
<div class="notice teal">
  <div class="media-box">
    <div class="media-box__media media--icon">
      <i class="icon-help"></i>
    </div>
    <div class="media-box__content">
      <%= t("views.basic_info_milestone.edit.notice") %>
    </div>
  </div>
</div>
<p class="spacing-below-25"><%= t("views.basic_info_milestone.edit.help_text_html") %></p>
<div class="notice grey-light spacing-below-60">
  <%= t("views.basic_info_milestone.edit.next_steps_html") %>
</div>

<%= link_to(next_path, class: "button button--primary") do %>
  <%= t("views.basic_info_milestone.edit.button_label") %>
  <i class="continue-arrow icon-">&#xE941;</i>
<% end %>
