<% content_for :question_title, t("views.work_rules_apply.edit.title") %>
<h1 class="h2"><%= content_for(:question_title) %></h1>
<p><%= t("views.work_rules_apply.edit.title_help_text") %></p>
<div class="notice white">
  <%= image_tag "warning_sign.svg", class: "illustration left-justified" %>
  <h2><strong><%= t("views.work_rules_apply.edit.avoid_a_time_on_your_snap_benefit") %></strong></h2>
  <%= t("views.work_rules_apply.edit.avoid_a_time_limit_on_your_snap_benefit_html") %>
</div>
<div class="notice white">
  <%= image_tag "suitcase.svg", class: "illustration left-justified" %>
  <p><strong><%= t("views.work_rules_apply.edit.reporting_hours_title") %></strong></p>
  <p><%= t("views.work_rules_apply.edit.reporting_hours_description_description") %></p>
</div>
<%= render "shared/continue_button" %>
