<% content_for :question_title, t("views.out_of_state.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<p>
  <%= t("views.out_of_state.edit.title_help_text_html") %>
</p>

<div class="notice white">
  <%= image_tag "message.svg", class: "illustration left-justified" %>
  <div>

    <p><strong><%= t("views.out_of_state.edit.contact_title") %></strong></p>
    <div class="notice-content">
      <p>
        <%= t("views.out_of_state.edit.contact_details") %>
      </p>
      <p class="text-green-innovation-lab">
        <%= t("views.out_of_state.edit.contact_redirect") %>
      </p>
      <div><%= link_to t("views.out_of_state.edit.contact_button"), "/", class: "button" %></div>

    </div>
  </div>

</div>

<div><%= link_to t("general.close"), sign_out_and_redirect_path, class: "button button--primary" %></div>

