<% content_for :question_title, t("views.out_of_state.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<% if not_listed? %>
  <p><%= t("views.out_of_state.edit.title_help_text_html") %></p>
  <div><%= link_to t("views.out_of_state.edit.find_button"), "https://www.fns.usda.gov/snap/state-directory", class: "button button--cta" %></div>
<% else %>
  <% redirect_url = county&.dig(:website) %>

  <p> <%= t("views.out_of_state.edit.title_help_text_county_specific") %></p>
  <div class="notice white">
    <%= image_tag "message.svg", class: "illustration left-justified" %>
    <div>
      <p><strong><%= t("views.out_of_state.edit.contact_title") %></strong></p>
      <p class="text--small">
        <%= t("views.out_of_state.edit.contact_details") %>
      </p>
      <p class="text-green-innovation-lab text--small">
        <%= t("views.out_of_state.edit.contact_redirect", seconds: redirect_delay_seconds) %>
      </p>
      <div>
        <%= link_to t("views.out_of_state.edit.contact_button"),
                    redirect_url,
                    class: "button button--cta",
                    "data-track-click": "snap_office_link_clicked",
                    "data-track-controller_name": "OutOfState",
                    "data-track-url": redirect_url %>
      </div>
    </div>
  </div>
  <script>
    setTimeout(function () {
      window.location.href = "<%= redirect_url %>";
    }, <%= redirect_delay_seconds * 1000 %>);
  </script>
<% end %>

<div><%= link_to t("general.close"), sign_out_and_redirect_path, class: "button button--primary" %></div>

