<% content_for :question_title, t("views.personal_information.edit.title") %>

<h1><%= content_for(:question_title) %></h1>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.cfa_input_field(:first_name, t("views.personal_information.edit.first_name_label"), help_text: t("views.personal_information.edit.first_name_label_help_text")) %>
  <%= f.cfa_input_field(:middle_name, t("views.personal_information.edit.middle_name_label"), help_text: t("views.personal_information.edit.middle_name_label_help_text")) %>
  <%= f.cfa_input_field(:last_name, t("views.personal_information.edit.last_name_label"), help_text: t("views.personal_information.edit.last_name_label_help_text")) %>

  <%= f.submit t("general.continue"), class: "button button--primary" %>
<% end %>
