<div class="pdf-packet">
  <div class="header">
    <p>SUMMARY OF</p>
    <h1>SNAP Work Requirement Exemptions Attestation</h1>
  </div>
  <div class="grey-box">
    <div class="attestation-header">
      <%= image_tag "https://staging.wrsat.codeforamerica.app/assets/apple-b1e632b6.svg" %>
      <div class="content"><%= full_name %>, (DOB: <%= birth_date %>) attests to the following exemptions from the SNAP work requirements:</div>
    </div>

    <% if caring_for_child_under_6 || caring_for_disabled_or_ill_person || has_unemployment_benefits || in_drug_or_alcohol_program || enrolled_in_education || working_30_or_more_hours || seasonal_worker || earnings_above_minimum %>
      <p class="section-header">General Work Requirement Exemptions</p>
      <ul>
        <% if caring_for_child_under_6 %>
          <li>Caring for a child under 6 years old <span class="list-item--note">- FNS 240.03(B)(1), 7 CFR 273.7(b)(1)(iv)</span></li>
        <% end %>
        <% if caring_for_disabled_or_ill_person %>
          <li>Caring for an incapacitated person <span class="list-item--note">- FNS 240.03(J), 7 CFR 273.7(b)(1)(iv)</span></li>
        <% end %>
        <% if has_unemployment_benefits %>
          <li>Currently getting unemployment benefits or has applied for unemployment benefits <span class="list-item--note">- FNS 240.03(C), 7 CFR 273.7(b)(1)(v)</span></li>
        <% end %>
        <% if in_drug_or_alcohol_program %>
          <li>Participating regularly in an alcohol or drug treatment program <span class="list-item--note">- FNS 240.03(H), 7 CFR 273.24(c)(2)</span></li>
        <% end %>
        <% if enrolled_in_education %>
          <li>Enrolled in a school, training program, or institution of higher education at least half-time <span class="list-item--note">- FNS 240.03(I), 7 CFR 273.7(b)(1)(viii)</span></li>
        <% end %>
        <% if working_30_or_more_hours %>
          <li>Working at least 30 hours a week <span class="list-item--note">- FNS 240.03(F)-(G), 7 CFR 273.7(b)(1)(vii)</span></li>
        <% end %>
        <% if seasonal_worker %>
          <li>Seasonal or migrant farmworker under an agreement or contract to start work within the next 30 days. <span class="list-item--note">- FNS 240.03(F), 7 CFR 273.7(b)(1)(vii)</span></li>
        <% end %>
        <% if earnings_above_minimum %>
          <li>Earning at least $217.50 a week, averaged monthly, from work <span class="list-item--note">- FNS 240.03(F), 7 CFR 273.7(b)(1)(vii)</span></li>
        <% end %>
      </ul>
    <% end %>

    <% if has_child || is_pregnant || receiving_disability_benefits || is_american_indian || any_preventing_work %>
      <p class="section-header">Able-Bodied Adult Without Dependents (ABAWD) Work Requirement Exemptions</p>
      <ul>
        <% if has_child %>
          <li>Living with a child under 14 years old <span class="list-item--note">- FNS 260.01(C), 7 USC 2015(o)(3)(C)</span></li>
        <% end %>
        <% if is_pregnant %>
          <li>Pregnant (Due: <%= pregnancy_due_date %>) <span class="list-item--note">- FNS 260.01(D), 7 CFR 273.24(c)(6)</span></li>
        <% end %>
        <% if receiving_disability_benefits %>
          <li>Receiving a disability benefit <span class="list-item--note">- FNS 260.01(F)(1), 7 CFR 273.24(c)(2)(i)</span></li>
        <% end %>
        <% if is_american_indian %>
          <li>A member of an Indian tribe or nation <span class="list-item--note">- FNS 260.01(G), 7 USC 2015(o)(3)(F),(G)</span></li>
        <% end %>
        <% if any_preventing_work %>
          <li>"Unfit for work" - unable to consistently work 20 hours a week <span class="list-item--note">(FNS 260.01(F), 7 CFR 273.24(c)(2))</span> because:
            <ul>
              <% if at_least_55_no_diploma_not_working %>
                <li>At least 55 years old without a high school diploma and with limited recent work history <span class="list-item--note">- FNS 260.01(F)(2)(vii)</span></li>
              <% end %>
              <% if preventing_work_place_to_sleep %>
                <li>Does not have a regular place to sleep or shower<span class="list-item--note">- FNS 260.01(F)(2)(c)</span></li>
              <% end %>
              <% if preventing_work_domestic_violence %>
                <li>Experiencing domestic violence<span class="list-item--note">- FNS 260.01(F)(2)(d)</span></li>
              <% end %>
              <% if preventing_work_drugs_alcohol %>
                <li>Substance use disorder<span class="list-item--note">- FNS 260.01(F)(2)(b)</span></li>
              <% end %>
              <% if preventing_work_medical_condition %>
                <li>Has a physical or mental medical condition preventing them from working at least 20 hours every week (see details on following pages).<span class="list-item--note">- FNS 260.01(F)(2)(a), (F)(3)</span></li>
              <% end %>
              <% if preventing_work_other %>
                <li>Other</li>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    <% end %>

    <% combined_hours = work_hours + volunteering_hours + work_training_hours %>
    <% if combined_hours >= 20 || weekly_earnings >= 217.50 %>
      <p><%= full_name %> (DOB: <%= birth_date %>) is also reporting the following for <span class="section-header">SNAP ABAWD Work Requirements compliance:</span></p>
      <ul>
        <% if work_hours >= 20 %>
          <li>Reporting <%= work_hours %> work hours per week <span class="list-item--note">- FNS 260.04(B)(3), 7 CFR 273.24(a)(1)(i)</span></li>
        <% end %>
        <% if weekly_earnings >= 217.50 %>
          <li>Reporting <%= weekly_earnings %> in weekly gross income <span class="list-item--note">- 7 CFR 273.7(b)(1)(vii)</span></li>
        <% end %>
        <% if volunteering_hours >= 20 %>
          <li>Participating in community service or volunteer work for <%= volunteering_hours %> per week <span class="list-item--note">- FNS 260.04(B)(3)(c), 7 CFR 273.24(a)(2)(iii)</span></li>
        <% end %>
        <% if work_training_hours >= 20 %>
          <li>Participating in a job or work training program for <%= work_training_hours %> hours per week <span class="list-item--note">-FNS 260.04(C)</span></li>
        <% end %>
        <% if work_hours < 20 && volunteering_hours < 20 && work_training_hours < 20 && combined_hours >= 20 %>
          <li>Participating in combined work, volunteering and/or training for <%= combined_hours %> hours per week <span class="list-item--note">- FNS 260.04(B)(3), 7 CFR 273.24(a)(2)(iv)</span></li>
        <% end %>
      </ul>
    <% end %>

    <p>See the following page for details.</p>
  </div>
</div>
