<% content_for :question_title, t("views.feedback_confident.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>
<p><%= t("views.feedback_confident.edit.title_help_text") %></p>
<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.hidden_field :survey_confidence_in_exemption_rules, value: :unfilled %>
  <%= f.cfa_radio_set(:survey_confidence_in_exemption_rules, collection: [
    { value: :very, label: t("views.feedback_confident.edit.very")},
    { value: :somewhat, label: t("views.feedback_confident.edit.somewhat") },
    { value: :little, label: t("views.feedback_confident.edit.little") },
    { value: :not_at_all, label: t("views.feedback_confident.edit.not_at_all") },
  ]) %>

  <%= f.submit t("general.continue"), class: "button button--primary" %>
<% end %>
