<%= image_tag attachments["gbh_email_header.png"].url, alt: "GetBenefitsHelp", style: "width: 100%; max-width: 300px; display: block;" %>
<hr style="border: none; border-top: 2px solid #034E46; margin: 0;">

<p>
  <%= t('views.screener_mailer.send_screener_results.greeting', first_name: @screener.first_name, last_name: @screener.last_name) %>
</p>

<p>
  <%= t('views.screener_mailer.send_screener_results.attachment_notice') %>
</p>

<hr style="border: none; border-top: 1px solid #C6C6C6; margin: 0;">

<h2 style="font-weight: bold;">
  <%= t('views.screener_mailer.send_screener_results.next_step_heading') %>
</h2>
<p>
  <%= t('views.screener_mailer.send_screener_results.next_step_instructions') %>
</p>
<p>
  <%= t('views.screener_mailer.send_screener_results.reference_code', code: @screener.confirmation_code) %>
</p>

<hr style="border: none; border-top: 1px solid #C6C6C6; margin: 0;">

<h3 style="font-weight: bold;">
  <%= t('views.screener_mailer.send_screener_results.how_to_submit_heading') %>
</h3>
<% state = @screener.state %>
<% county = @screener.county %>
<% website = LocationData::Counties.website_for(state, county) %>
<% email = LocationData::Counties.email_for(state, county) %>

<ol style="line-height: 2;">
  <li>
    <strong><%= t('views.screener_mailer.send_screener_results.online_label') %></strong> <%= t('views.screener_mailer.send_screener_results.online_epass_html').html_safe %>
    <br/><br/>
    <%= t('views.screener_mailer.send_screener_results.online_county', website: website) %><%= t('views.screener_mailer.send_screener_results.online_county_with_email', email: email) if email.present? %>.
  </li>
  <li>
    <strong><%= t('views.screener_mailer.send_screener_results.mail_label') %></strong> <%= t('views.screener_mailer.send_screener_results.mail_instructions') %>
    <br/><br/>
    <div style="font-style: italic;">
      <% LocationData::Counties.mailing_address_for(state, county).split("\n").map do |line| %>
        <%= line %>
        <br/>
      <% end %>
    </div>
  </li>
  <li>
    <strong><%= t('views.screener_mailer.send_screener_results.in_person_label') %></strong> <%= t('views.screener_mailer.send_screener_results.in_person_instructions') %>
    <br/><br/>
    <div style="font-style: italic;">
      <% LocationData::Counties.physical_address_for(state, county).split("\n").map do |line| %>
        <%= line %>
        <br/>
      <% end %>
    </div>
  </li>
</ol>

<p>
  <%= t('views.screener_mailer.send_screener_results.questions_intro') %>
</p>

<ul style="line-height: 2;">
  <li><%= t('views.screener_mailer.send_screener_results.check_website', website: website) %></li>
  <% if email.present? %>
    <li>
      <%= t('views.screener_mailer.send_screener_results.email_office', email: email) %>
    </li>
  <% end %>
  <% if (phone = LocationData::Counties.phone_for(state, county)).present? %>
    <li><%= t('views.screener_mailer.send_screener_results.call_office', phone: phone) %></li>
  <% end %>
</ul>

<h3 style="font-weight: bold;">
  <%= t('views.screener_mailer.send_screener_results.proofs_you_may_need.title') %>
</h3>

<p>
  <%= t('views.screener_mailer.send_screener_results.proofs_you_may_need.help_text') %>
</p>

<ol style="line-height: 2;">
  <% if @screener.is_student_yes? %>
    <%= t('views.screener_mailer.send_screener_results.proofs_you_may_need.student_html') %>
  <% end %>

  <% if @screener.preventing_work_drugs_alcohol_yes? || @screener.preventing_work_medical_condition_yes? %>
    <li>
      <%= t('views.proof_guidance.edit.proof_of_health_condition_html') %>
    </li>
  <% end %>

  <% if @screener.receiving_disability_benefits? %>
    <li>
      <%= t('views.proof_guidance.edit.proof_of_disability_benefits_html') %>
      <ul>
        <% Screener::DISABILITY_BENEFIT_ATTRIBUTES.each do |benefit| %>
          <% if @screener.public_send("#{benefit}_yes?") %>
            <li>
              <%= t("views.disability_benefits.edit.#{benefit}") %><% if benefit == :receiving_benefits_other && @screener.receiving_benefits_write_in.present? %>: <%= @screener.receiving_benefits_write_in %><% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>
  <% end %>

  <% if @screener.is_in_alcohol_treatment_program_yes? %>
    <li>
      <%= t('views.proof_guidance.edit.proof_of_treatment_program_html') %>
    </li>
  <% end %>
</ol>

<p><%= t('general.gbh_team') %></p>
