<%= image_tag attachments["gbh_email_header.png"].url, alt: "GetBenefitsHelp", style: "width: 100%; max-width: 300px; display: block;" %>
<hr style="border: none; border-top: 2px solid #034E46; margin: 0;">

<p>
  Hi <%= @screener.first_name %> <%= @screener.last_name %>,
</p>

<p>
  Your SNAP work rules exemption from GetBenefitsHelp is attached to this email.
</p>

<hr style="border: none; border-top: 1px solid #000000; margin: 0;">

<h2 style="font-weight: bold;">
  Next step: Send this form to your SNAP agency.
</h2>
<p>
  Submit this form and any proof you need to your SNAP agency to tell them that you believe the work rules shouldn’t
  apply to you.
</p>
<p>
  Your document reference code: <%= @screener.confirmation_code %>
</p>

<hr style="border: none; border-top: 1px solid #000000; margin: 0;">

<h3 style="font-weight: bold;">
  How to submit your form
</h3>

<ol style="line-height: 1.5;">
  <li>
    <strong>Online:</strong> If you already receive SNAP benefits, you can use <a href="https://epass.nc.gov/signuphomepage" target="_blank">North Carolina ePASS</a> to submit this form and any proof you may need. You will need to have an <a href="https://epass.nc.gov/nfridp/qa" target="_blank">enhanced account</a> to submit these documents using ePASS.
    <br/>
    Instead of using ePASS, you can submit this form and any proof to your county’s SNAP office <%= @county_data[:website] %><%= "by emailing #{@county_data[:email]}" if @county_data[:email].present? %>.</li>
  </li>
  <li>
    <strong>Mail:</strong> Send your form and any proof you may need.
    <br/>
    <%= @county_data[:mailing_address] %>
  </li>
  <li>
    <strong>In person:</strong> Print your form and bring it and any proof you may need to a local office.
    <br/>
    <%= @county_data[:physical_address] %>
  </li>
</ol>

<p>
  If you have questions, or to find out if there are other ways to submit your form, you can contact your county’s social services office.
</p>

<ul style="line-height: 1.5;">
  <li>Check for information on their website <%= @county_data[:website] %>,</li>
  <% if @county_data[:email].present? %>
    <li>
      Email the office at <%= @county_data[:email] %>,
    </li>
  <% end %>
  <li>Call the office at <%= @county_data[:phone] %>.</li>
</ul>
