<h2><%= t("views.download_form.edit.how_to") %></h2>
<p><%= t("views.download_form.edit.how_to_help_text") %></p>
<% @current_screener.office_or_offices_for_zip.each do |office| %>
  <div class="notice grey-light">
    <p><strong>If you live <%= office[:subgeography] %>,</strong> your office is: <%= office[:name] %></p>
    <ol class="list--numbered">
      <% upload_portal_or_email = office[:upload_portal_or_email] || office[:email] %>

      <li><%= t("views.download_form.edit.next_steps_online_html") %>
        <ul class="list--bulleted">
          <li class='spacing-above-15'><%= t("views.download_form.edit.nc_epass_html") %></li>
          <% if upload_portal_or_email.present? %>
            <% is_email = ValidEmail2::Address.new(upload_portal_or_email).valid? %>
            <% if is_email %>
              <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_email_html", email: mail_to(upload_portal_or_email)) %></li>
            <% else %>
              <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", website: upload_portal_or_email) %></li>
            <% end %>
          <% end %>
          <% if office[:website].present? && office[:website] != upload_portal_or_email %>
            <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", website: office[:website]) %></li>
          <% end %>
        </ul>
      </li>

      <% if (mailing_address = office[:mailing_address]).present? %>
        <li><%= t("views.download_form.edit.next_steps_mail_html", mailing_address: simple_format(mailing_address)) %></li>
      <% end %>
      <% if (address = office[:physical_address] || office[:mailing_address]).present? %>
        <li><%= t("views.download_form.edit.next_steps_in_person_html", address: simple_format(address)) %></li>
      <% end %>
    </ol>

    <% if (phone = office[:phone]).present? %>
      <p><%= t("views.download_form.edit.have_questions_html") %></p>
      <p><%= phone %></p>
    <% end %>
  </div>
<% end %>
