<div>
  <h2>End of example</h2>
  <br/>
  <table>
    <tr style="font-weight: bold; border-bottom: 1px solid #ddd;">
      <th style="padding-right: 15px;">screener id</th>
      <th style="padding-right: 15px;">written language</th>
      <th style="padding-right: 15px;">spoken language</th>
    </tr>
    <% Screener.all.each do |screener| %>
     <tr style="border-bottom: 1px solid #ddd;">
       <td><%= screener.id %></td>
       <td><%= screener.language_preference_written %></td>
       <td><%= screener.language_preference_spoken %></td>
       <td><%= screener.first_name %></td>
       <td><%= screener.middle_name %></td>
       <td><%= screener.last_name %></td>
       <td><%= screener.birth_date %></td>
       <td><%= screener.phone_number %></td>
     </tr>
    <% end %>
  </table>
</div>