<% content_for :question_title, t("views.school_enrollment.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<div class="notice teal">
  <div class="media-box">
    <div class="media-box__media media--icon">
      <i class="icon-help"></i>
    </div>
    <div class="media-box__content">
      <%= t("views.school_enrollment.edit.help_text") %>
    </div>
  </div>
</div>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.hidden_field :is_student, value: :unfilled %>

  <div class="question-with-follow-up">
    <div class="question-with-follow-up__question">
      <%= f.cfa_radio_set(:is_student, collection: [
        { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#school-type" }},
        { value: :no, label: t("general.negative") },
      ]) %>
    </div>

    <div class="question-with-follow-up__follow-up" id="school-type">
      <hr/>
      <h2 class="h3"><%= t("views.school_enrollment.edit.school_type_text") %></h2>
      <%= f.cfa_radio_set(:school_type, collection: [
        { value: :college_or_trade_school, label: t("views.school_enrollment.edit.school_type_college_or_trade_school") },
        { value: :high_school_or_ged, label: t("views.school_enrollment.edit.school_type_high_school_or_ged") }
      ]) %>
    </div>
  </div>
  <%= f.submit t("general.continue"), class: "button button--primary" %>

<% end %>
