<%= render "shared/email_header" %>

<p><%= t('views.survey_mailer.send_survey.greeting') %></p>

<p><%= t('views.survey_mailer.send_survey.paragraph_1_html').html_safe %></p>

<p><%= t('views.survey_mailer.send_survey.paragraph_2') %></p>

<p><%= t('views.survey_mailer.send_survey.survey_link_html', survey_link: @survey_link).html_safe %></p>

<p><%= t('general.thank_you') %></p>

<p><%= t('general.gbh_team') %></p>

<%= render "shared/email_footer" %>
