<%= image_tag attachments["gbh_email_header.png"].url, alt: "GetBenefitsHelp", style: "width: 100%; max-width: 300px; display: block; margin-top: 10px; margin-bottom: 10px;" %>
<hr style="border: none; border-top: 2px solid #034E46; margin: 0;">

<p><%= t('views.survey_mailer.send_survey.greeting') %></p>

<p><%= t('views.survey_mailer.send_survey.paragraph_1_html').html_safe %></p>

<p><%= t('views.survey_mailer.send_survey.paragraph_2') %></p>

<p><%= t('views.survey_mailer.send_survey.survey_link_html', survey_link: @survey_link).html_safe %></p>

<p><%= t('general.thank_you') %></p>

<p><%= t('general.gbh_team') %></p>

<% if ENV["SES_CONTACT_LIST"] %>
  <p style="font-size: 12px; color: #666666; margin-top: 20px;">
    <a href="{{amazonSESUnsubscribeUrl}}"><%= t('general.unsubscribe') %></a>
  </p>
<% end %>
