<% content_for :question_title, t("views.email.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<p><%= t("views.email.edit.title_help_text") %></p>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.cfa_input_field(:email, t("views.email.edit.email"), options: { oncopy: "return false;" }) %>
  <%= f.cfa_input_field(:email_confirmation, t("views.email.edit.email_confirmation"), options: { onpaste: "return false;" }) %>
  <%= f.submit t("general.continue"), class: "button button--primary" %>

  <% if params[:from_download_form].present? %>
    <%= hidden_field_tag "from_download_form", params[:from_download_form] %>
  <% end %>

  <% if params[:return_to_review].present? %>
    <%= hidden_field_tag "return_to_review", params[:return_to_review] %>
  <% end %>
<% end %>
