<h1><%= t("views.landing_page.index.title") %></h1>

<p><%= t("views.landing_page.index.title_help_text_1") %></p>
<p>
  <strong><%= t("views.landing_page.index.title_help_text_2") %></strong>
</p>

<%= render ButtonLinkComponent.new(label: "Fill out the form", url: start_flow_path) %>

<h2><%= t("views.landing_page.index.work_rules_title") %></h2>

<p><%= t("views.landing_page.index.work_rules_help_text") %></p>

<p><%= t("views.landing_page.index.work_rules_list_label") %></p>
<ul>
  <% t("views.landing_page.index.work_rules_list").each do |list_item| %>
    <li><%= list_item %></li>
  <% end %>
</ul>

<p><%= t("views.landing_page.index.work_rules_help_text_2") %></p>

