<section class="slab">
  <div class="grid">
    <div class="grid__item width-three-fourths">
      <div class="card">
        <h1><%= t("views.landing_page.index.title") %></h1>

        <p><%= t("views.landing_page.index.title_help_text_1") %></p>
        <p class="spacing-below-0">
          <strong><%= t("views.landing_page.index.title_help_text_2") %></strong>
        </p>

        <%= link_to t("views.landing_page.fill_out_form"), start_flow_path, class: "spacing-below-60 spacing-above-60 button button--primary" %>

        <div class="notice white">
          <%= image_tag "apple.svg", class: "illustration left-justified" %>

          <h2><%= t("views.landing_page.index.work_rules_title") %></h2>

          <p><%= t("views.landing_page.index.work_rules_help_text") %></p>

          <p><%= t("views.landing_page.index.work_rules_list_label") %></p>
          <ul class="list--bulleted">
            <% t("views.landing_page.index.work_rules_list_html").each do |list_item| %>
              <li><%= list_item %></li>
            <% end %>
          </ul>

          <p><%= t("views.landing_page.index.work_rules_help_text_2") %></p>
        </div>
      </div>

    </div>
  </div>

</section>
<section class="slab slab--teal">
  <div class="grid">
    <div class="grid__item width-three-fourths">
      <div>
        <h2><%= t("views.landing_page.index.faq.title") %></h2>

        <div class="accordion">
          <button href="#" class="accordion__button" aria-controls="a1" aria-expanded="true"><%= t("views.landing_page.index.faq.who") %></button>
          <div class="accordion__content" id="a1">
            <%= t("views.landing_page.index.faq.who_content_html") %>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__button" aria-expanded="true"><%= t("views.landing_page.index.faq.who_not") %></button>
          <div class="accordion__content">
            <%= t("views.landing_page.index.faq.who_not_content_html") %>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__button" aria-expanded="true"><%= t("views.landing_page.index.faq.keep_snap") %></button>
          <div class="accordion__content">
            <%= t("views.landing_page.index.faq.keep_snap_content_html") %>
          </div>
        </div>
        <div class="accordion">
          <button class="accordion__button" aria-expanded="true"><%= t("views.landing_page.index.faq.unfit") %></button>
          <div class="accordion__content">
            <%= t("views.landing_page.index.faq.unfit_content_html") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
