<%= image_tag "download.svg", class: "illustration left-justified spacing-above-35" %>
<% has_email = @current_screener.email.present? %>
<% content_for :question_title, t("views.download_form.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>
<p><%= t("views.download_form.edit.title_help_text") %></p>

<div class="notice teal">
  <div class="media-box">
    <div class="media-box__media media--icon">
      <i class="icon-info_outline"></i>
    </div>
    <div class="media-box__content">
      <p class="spacing-below-5"><strong><%= t("views.download_form.edit.on_next_page_title") %></strong></p>
      <p class="spacing-below-0"><%= t("views.download_form.edit.on_next_page_content") %></p>
    </div>
  </div>
</div>

<% if has_email %>
  <div>
    <div class="media-box">
      <div class="media-box__media media--icon">
        <i class="icon-markunread"></i>
      </div>
      <div class="media-box__content">
        <h2 class="h3 spacing-below-5"><%= t("views.download_form.edit.title_sent", email: @current_screener.email) %></h2>
      </div>
    </div>
    <p>
      <%= link_to(generate_pdf_path, class: "link--subtle", target: "_blank") do %>
        <%= t("views.download_form.edit.download_guidance") %> <%= t("views.download_form.edit.download_to_device") %>
      <% end %>
    </p>
  </div>
<% else %>
  <div>
    <div class="media-box spacing-below-15">
      <div class="media-box__media media--icon">
        <i class="button__icon--left icon-get_app"></i>
      </div>
      <div class="media-box__content">
        <h2 class="h3 spacing-below-0"><%= t("views.download_form.edit.download_a_copy") %></h2>
      </div>
    </div>

    <%= link_to(generate_pdf_path, class: "button button--primary button--small button--wide spacing-below-0", target: "_blank") do %>
      <%= t("views.download_form.edit.download_form") %>
    <% end %>
  </div>
<% end %>

<p class="spacing-above-35"><%= t("views.download_form.edit.after_text") %></p>

<hr class="spacing-above-35 spacing-below-35"/>

<%= image_tag "next-steps.svg", class: "illustration left-justified spacing-below-10" %>
<h2 class="spacing-below-35"><%= t("views.download_form.edit.before_you_go_title") %></h2>
<ol class="numbered-steps">
  <li>
    <strong class="numbered-steps__title"><%= t("views.download_form.edit.gather_proof_title") %></strong>
    <p><%= t("views.download_form.edit.gather_proof_content") %></p>
    <%= link_to next_path, class: "button button--small spacing-below-0" do %>
      <%= t("views.download_form.edit.see_proof_documents") %>
      <i class="button__icon--right icon-arrow_forward"></i>
    <% end %>
  </li>
  <hr class="spacing-above-15 spacing-below-15"/>
  <li>
    <strong class="numbered-steps__title"><%= t("views.download_form.edit.give_form_title") %></strong>
    <p class="spacing-below-0"><%= t("views.download_form.edit.give_form_content") %></p>
  </li>
</ol>

<hr class="spacing-above-35 spacing-below-35"/>

<h2><%= t("views.download_form.edit.how_to") %></h2>

<p><%= t("views.download_form.edit.submit_what_you_have") %></p>

<div class="notice yellow spacing-below-35">
  <div class="media-box">
    <div class="media-box__media media--icon">
      <i class="icon-info_outline"></i>
    </div>
    <div class="media-box__content">
      <p class="spacing-below-0"><%= t("views.download_form.edit.give_form_by_yourself_html") %></p>
    </div>
  </div>
</div>

<% offices = @current_screener.offices_to_display %>
<% single_office = offices.one? && offices.first[:subgeography].blank? %>

<% offices.each do |office| %>
  <% state = @current_screener.state.downcase %>
  <% unless single_office %>
    <h3><%= t("views.download_form.edit.single_office_instructions", subgeography: office[:subgeography], office: office[:name]) %></h3>
  <% end %>
  <div class="media-box">
    <div class="media-box__media media--icon">
      <i class="icon-room"></i>
    </div>
    <div class="media-box__content">
        <%= LocationData::States.display_name(@current_screener.state) %>
        <p><strong><%= office[:name] %></strong></p>
    </div>
  </div>

  <% upload_portal_or_email = office[:upload_portal_or_email] %>
  <div class="accordion accordion--default-open">
    <button class="accordion__button" aria-expanded="true"><%= t("views.download_form.edit.online_label") %></button>
    <div class="accordion__content">
      <p><%= t("views.download_form.edit.next_steps_online") %></p>
      <ul class="list--bulleted">
        <li class='spacing-above-15'>
          <%= t("views.download_form.edit.state_website_#{state}_html") %>
          <div class="spacing-above-10"><%= t("views.download_form.edit.open_state_website_#{state}_html") %></div>
        </li>
        <% if upload_portal_or_email.present? %>
          <% is_email = ValidEmail2::Address.new(upload_portal_or_email).valid? %>
          <% if is_email %>
            <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_email_html", email: mail_to(upload_portal_or_email, upload_portal_or_email, "data-track-click" => "office_email_link_#{state}_clicked", "data-track-controller_name" => "DownloadForm")) %></li>
          <% else %>
            <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", link: link_to(upload_portal_or_email, upload_portal_or_email, target: "_blank", "data-track-click" => "office_website_link_#{state}_clicked", "data-track-controller_name" => "DownloadForm")) %></li>
          <% end %>
        <% end %>
        <% if office[:website].present? && office[:website] != upload_portal_or_email %>
          <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", link: link_to(office[:website], office[:website], target: "_blank", "data-track-click" => "office_website_link_#{state}_clicked", "data-track-controller_name" => "DownloadForm")) %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <% mailing_address = office[:mailing_address] %>
  <% physical_address = office[:physical_address] %>
  <% if mailing_address.present? || physical_address.present? %>
    <div class="accordion accordion--default-open">
      <button class="accordion__button" aria-expanded="true"><%= t("views.download_form.edit.mail_or_in_person_label") %></button>
      <div class="accordion__content">
        <% if physical_address.present? %>
          <%= t("views.download_form.edit.next_steps_in_person_#{state}_html", address: simple_format(physical_address)) %>
        <% end %>
        <% if mailing_address.present? %>
          <%= t("views.download_form.edit.next_steps_mail_#{state}_html", mailing_address: simple_format(mailing_address)) %>
        <% end %>
      </div>
    </div>
  <% end %>

  <% if (phone = office[:phone]).present? %>
    <div class="spacing-below-10"><strong><%= t("views.download_form.edit.have_questions") %></strong></div>
    <p><%= phone %></p>
  <% end %>
<% end %>

<% unless has_email %>
  <hr class="spacing-above-35 spacing-below-35"/>
  <div>
    <p><strong><%= t("views.download_form.edit.add_email_guidance") %></strong></p>
    <ul>
      <li>
        <span class="text-green-innovation-lab"><strong>✓ </strong></span><%= t("views.download_form.edit.email_benefit_1") %>
      </li>
      <li>
        <span class="text-green-innovation-lab"><strong>✓ </strong></span><%= t("views.download_form.edit.email_benefit_2") %>
      </li>
      <li>
        <span class="text-green-innovation-lab"><strong>✓ </strong></span><%= t("views.download_form.edit.email_benefit_3") %>
      </li>
    </ul>
  </div>

  <div>
    <%= link_to("/basic-info-email?from_download_form=true&return_to_review=y", class: "button button--primary button--small button--wide spacing-below-0") do %>
      <i class="button__icon--left icon-markunread"></i>
      <%= t("views.download_form.edit.email_pdf") %>
    <% end %>
  </div>
<% end %>

<hr class="spacing-above-35 spacing-below-35"/>

<div>
  <h2><%= t("views.download_form.edit.what_to_expect") %></h2>
  <ul class="list--bulleted">
    <li><%= t("views.download_form.edit.expectation_1") %></li>
    <li><%= t("views.download_form.edit.expectation_2") %></li>
    <li><%= t("views.download_form.edit.expectation_3") %></li>
  </ul>
</div>

<div class="spacing-above-60">
  <%= render "shared/continue_button", label: t("views.download_form.edit.see_proof_button") %>
</div>
