<%= image_tag "download.svg", class: "illustration left-justified spacing-above-35" %>
<% has_email = @current_screener.email.present? %>
<% if has_email %>
  <% content_for :question_title, t("views.download_form.edit.title_sent", email: @current_screener.email) %>
<% else %>
  <% content_for :question_title, t("views.download_form.edit.title") %>
<% end %>

<h1 class="h2"><%= content_for(:question_title) %></h1>
<p><%= t("views.download_form.edit.title_help_text") %></p>

<% unless has_email %>
  <div>
    <%= link_to("/download-form", class: "button button--primary spacing-below-0") do %>
      <i class="button__icon--left icon-get_app"></i>
      <%= t("views.download_form.edit.download_form") %>
    <% end %>
  </div>
  <hr class="spacing-above-35 spacing-below-35"/>
  <div>
    <p><%= t("views.download_form.edit.add_email_guidance_html") %></p>
    <ul>
      <li>
        <span class="text-green-innovation-lab">✓ </span><%= t("views.download_form.edit.email_benefit_1") %>
      </li>
      <li>
        <span class="text-green-innovation-lab">✓ </span><%= t("views.download_form.edit.email_benefit_2") %>
      </li>
      <li>
        <span class="text-green-innovation-lab">✓ </span><%= t("views.download_form.edit.email_benefit_3") %>
      </li>
    </ul>
  </div>
  <div>
    <%= link_to("/basic-info-email?source=download-form", class: "button button--primary spacing-below-0") do %>
      <i class="button__icon--left icon-markunread"></i>
      <%= t("views.download_form.edit.email_pdf") %>
    <% end %>
  </div>
  <hr class="spacing-above-35"/>
<% end %>

<h2><%= t("views.download_form.edit.how_to") %></h2>
<p class="spacing-below-0"><%= LocationData::States.name_for(@current_screener.state) %></p>
<% if @current_screener.county.present? %>
  <p><strong><%= @current_screener.county %></strong></p>
<% end %>

<p><%= t("views.download_form.edit.how_to_help_text") %></p>
<div class="notice grey-light">
  <ol class="list--numbered">
    <% website = LocationData::Counties.website_for(@current_screener.state, @current_screener.county) %>
    <% upload_portal_or_email = LocationData::Counties.upload_portal_or_email_for(@current_screener.state, @current_screener.county) %>

    <% if website.present? || upload_portal_or_email.present? %>
      <li><%= t("views.download_form.edit.next_steps_online_html") %>
        <ul class="list--bulleted">
          <% if upload_portal_or_email.present? %>
            <% is_email = ValidEmail2::Address.new(upload_portal_or_email).valid? %>
            <% if is_email %>
              <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_email_html", email: mail_to(upload_portal_or_email)) %></li>
            <% else %>
              <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", website: upload_portal_or_email) %></li>
            <% end %>
          <% end %>
          <% if website.present? && website != upload_portal_or_email %>
            <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", website: website) %></li>
          <% end %>
        </ul>
      </li>
    <% end %>

    <% if (mailing_address = LocationData::Counties.mailing_address_for(@current_screener.state, @current_screener.county)).present? %>
      <li><%= t("views.download_form.edit.next_steps_mail_html", mailing_address: simple_format(mailing_address)) %></li>
    <% end %>
    <% if (address = LocationData::Counties.physical_address_for(@current_screener.state, @current_screener.county)).present? %>
      <li><%= t("views.download_form.edit.next_steps_in_person_html", address: simple_format(address)) %></li>
    <% end %>
  </ol>
</div>

<% if (phone = LocationData::Counties.phone_for(@current_screener.state, @current_screener.county)).present? %>
  <p><strong><%= t("views.download_form.edit.have_questions") %></strong></p>
  <p><%= phone %></p>
<% end %>

<% if has_email %>
  <hr class="spacing-above-35 spacing-below-35"/>
  <p><%= t("views.download_form.edit.download_guidance_html") %></p>
  <%= link_to(
        "/download-form",
        class: "button button--primary spacing-below-0") do %>
    <i class="button__icon--left icon-get_app"></i>
    <%= t("views.download_form.edit.download_form") %>
  <% end %>
  <hr class="spacing-above-35"/>
<% end %>

<div>
  <h2><%= t("views.download_form.edit.what_to_expect") %></h2>
  <ul class="list--bulleted">
    <li><%= t("views.download_form.edit.expectation_1") %></li>
    <li><%= t("views.download_form.edit.expectation_2") %></li>
    <li><%= t("views.download_form.edit.expectation_3") %></li>
  </ul>
</div>

<div class="spacing-above-60">
  <%= render "shared/continue_button" %>
</div>

