<%= image_tag "download.svg", class: "illustration left-justified spacing-above-35" %>
<% has_email = @current_screener.email.present? %>
<% if has_email %>
  <% content_for :question_title, t("views.download_form.edit.title_sent", email: @current_screener.email) %>
<% else %>
  <% content_for :question_title, t("views.download_form.edit.title") %>
<% end %>

<h1 class="h2"><%= content_for(:question_title) %></h1>
<p><%= t("views.download_form.edit.title_help_text") %></p>

<% unless has_email %>
  <div>
    <%= link_to(generate_pdf_path, class: "button button--primary spacing-below-0", target: "_blank") do %>
      <i class="button__icon--left icon-get_app"></i>
      <%= t("views.download_form.edit.download_form") %>
    <% end %>
  </div>
  <hr class="spacing-above-35 spacing-below-35"/>
  <div>
    <p><%= t("views.download_form.edit.add_email_guidance_html") %></p>
    <ul>
      <li>
        <span class="text-green-innovation-lab"><strong>✓ </strong></span><%= t("views.download_form.edit.email_benefit_1") %>
      </li>
      <li>
        <span class="text-green-innovation-lab"><strong>✓ </strong></span><%= t("views.download_form.edit.email_benefit_2") %>
      </li>
      <li>
        <span class="text-green-innovation-lab"><strong>✓ </strong></span><%= t("views.download_form.edit.email_benefit_3") %>
      </li>
    </ul>
  </div>

  <div>
    <%= link_to("/basic-info-email?from_download_form=true&return_to_review=y", class: "button button--primary spacing-below-0") do %>
      <i class="button__icon--left icon-markunread"></i>
      <%= t("views.download_form.edit.email_pdf") %>
    <% end %>
  </div>
  <hr class="spacing-above-35"/>
<% end %>

<h2><%= t("views.download_form.edit.how_to") %></h2>
<% offices = @current_screener.offices_to_display %>
<% single_office = offices.one? && offices.first[:subgeography].blank? %>
<% if single_office %>
  <p class="spacing-below-0"><%= LocationData::States.display_name(@current_screener.state) %></p>
  <p><strong><%= offices.first[:name] %></strong></p>
<% end %>
<p><%= t("views.download_form.edit.how_to_help_text") %></p>

<% offices.each do |office| %>
  <div class="notice grey-light">
    <% unless single_office %>
      <h3>If you live <%= office[:subgeography] %>, your office is: <%= office[:name] %></h3>
    <% end %>
    <ol class="list--numbered" style="<%= single_office ? '' : 'padding-left: 1.5em;' %>">
      <% upload_portal_or_email = office[:upload_portal_or_email] %>
      <li><%= t("views.download_form.edit.next_steps_online_html") %>
        <ul class="list--bulleted">
          <li class='spacing-above-15'><%= t("views.download_form.edit.state_website_#{current_screener.state.downcase}_html") %></li>
          <% if upload_portal_or_email.present? %>
            <% is_email = ValidEmail2::Address.new(upload_portal_or_email).valid? %>
            <% if is_email %>
              <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_email_html", email: mail_to(upload_portal_or_email)) %></li>
            <% else %>
              <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", website: upload_portal_or_email) %></li>
            <% end %>
          <% end %>
          <% if office[:website].present? && office[:website] != upload_portal_or_email %>
            <li class='spacing-above-15'><%= t("views.download_form.edit.next_steps_online_web_html", website: office[:website]) %></li>
          <% end %>
        </ul>
      </li>
      <% if @current_screener.state == LocationData::States::NORTH_CAROLINA %>
        <% if (mailing_address = office[:mailing_address]).present? %>
          <li><%= t("views.download_form.edit.next_steps_mail_nc_html", mailing_address: simple_format(mailing_address)) %></li>
        <% end %>
        <% if (address = office[:physical_address]).present? %>
          <li><%= t("views.download_form.edit.next_steps_in_person_nc_html", address: simple_format(address)) %></li>
        <% end %>
      <% else %>
        <% if (mailing_address = office[:mailing_address]).present? %>
          <li><%= t("views.download_form.edit.next_steps_mail_or_in_person_de_html", mailing_address: simple_format(mailing_address)) %></li>
        <% end %>
      <% end %>
    </ol>
    <% if !single_office && (phone = office[:phone]).present? %>
      <p><%= t("views.download_form.edit.have_questions_html") %></p>
      <p><%= phone %></p>
    <% end %>
  </div>

  <% if single_office && (phone = office[:phone]).present? %>
    <p><%= t("views.download_form.edit.have_questions_html") %></p>
    <p><%= phone %></p>
  <% end %>
<% end %>

<% if has_email %>
  <hr class="spacing-above-35 spacing-below-35"/>
  <p><%= t("views.download_form.edit.download_guidance_html") %></p>
  <%= link_to(
        generate_pdf_path,
        class: "button button--primary spacing-below-0",
        target: "_blank") do %>
    <i class="button__icon--left icon-get_app"></i>
    <%= t("views.download_form.edit.download_form") %>
  <% end %>
  <hr class="spacing-above-35"/>
<% end %>

<div>
  <h2><%= t("views.download_form.edit.what_to_expect") %></h2>
  <ul class="list--bulleted">
    <li><%= t("views.download_form.edit.expectation_1") %></li>
    <li><%= t("views.download_form.edit.expectation_2") %></li>
    <li><%= t("views.download_form.edit.expectation_3") %></li>
  </ul>
</div>

<div class="spacing-above-60">
  <%= render "shared/continue_button" %>
</div>
