<% content_for :question_title, t("views.employment.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<div class="reveal">
  <button class="reveal__button" aria-expanded="true">
    <i class="icon-help" style="padding-right: 1rem;"></i><strong><%= t("views.employment.edit.notice_title") %></strong>
  </button>
  <div class="reveal__content">
    <ul class="list--bulleted spacing-above-0">
      <% t("views.employment.edit.notice_content").each do |list_item| %>
        <li><%= list_item %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.hidden_field :is_working, value: :unfilled %>

  <div class="question-with-follow-up">
    <div class="question-with-follow-up__question">
      <%= f.cfa_radio_set(:is_working, collection: [
        { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#hours-and-earnings" } },
        { value: :no, label: t("general.negative") },
      ]) %>
    </div>

    <div class="question-with-follow-up__follow-up" id="hours-and-earnings">
      <hr/>
      <%= f.cfa_input_field(:working_hours, t("views.employment.edit.working_hours_label"), help_text: t("views.employment.edit.working_hours_help_text")) %>
      <%= f.cfa_input_field(
            :working_weekly_earnings,
            t("views.employment.edit.working_weekly_earnings_label"),
            help_text: t("views.employment.edit.working_weekly_earnings_help_text"),
            prefix: '$',
            options: {
              value: number_with_precision(f.object.working_weekly_earnings, precision: 2, strip_insignificant_zeros: false)
            }
          ) %>
    </div>
  </div>

  <%= f.submit t("general.continue"), class: "button button--primary" %>
<% end %>
