<% content_for :question_title, t("views.working.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.hidden_field :is_working, value: :unfilled %>

  <div class="question-with-follow-up">
    <div class="question-with-follow-up__question">
      <%= f.cfa_radio_set(:is_working, collection: [
        { value: :yes, label: t("general.affirmative"), input_html: { "data-follow-up": "#hours-and-earnings" } },
        { value: :no, label: t("general.negative") },
      ]) %>
    </div>

    <div class="question-with-follow-up__follow-up" id="hours-and-earnings">
      <hr class="spacing-above-0"/>
      <%= f.cfa_input_field(:working_hours, t("views.working.edit.working_hours_label"), help_text: t("views.working.edit.working_hours_help_text")) %>
      <%= f.cfa_input_field(
            :working_weekly_earnings,
            t("views.working.edit.working_weekly_earnings_label"),
            help_text: t("views.working.edit.working_weekly_earnings_help_text"),
            prefix: '$'
          ) %>
    </div>
  </div>

  <%= f.submit t("general.continue"), class: "button button--primary" %>
<% end %>
