<h2 class="h3"><%= t("views.privacy_policy.title") %></h2>

<p><%= t("views.privacy_policy.intro") %></p>

<p><%= t("views.privacy_policy.description") %></p>

<p><%= t("views.privacy_policy.contact_intro") %></p>

<h3><%= t("views.privacy_policy.how_we_collect_title") %></h3>

<p><%= t("views.privacy_policy.how_we_collect_intro") %></p>
<ul class="list--bulleted">
  <% t("views.privacy_policy.how_we_collect_items").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<p><%= t("views.privacy_policy.how_we_use_info_intro") %></p>
<ol class="list--numbered">
  <% t("views.privacy_policy.how_we_use_info_items").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ol>

<p><%= t("views.privacy_policy.no_disclose") %></p>

<p><%= t("views.privacy_policy.reasonable_measures") %></p>

<h3><%= t("views.privacy_policy.data_retention_title") %></h3>

<p><%= t("views.privacy_policy.no_collection_without_consent") %></p>

<ol class="list--numbered">
  <li>
    <p><%= t("views.privacy_policy.data_retention_1_intro_html") %>:</p>
    <ul class="list--bulleted">
      <% t("views.privacy_policy.data_retention_1_items").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
    <p><%= t("views.privacy_policy.data_retention_1_email_intro") %></p>
    <ul class="list--bulleted">
      <% t("views.privacy_policy.data_retention_1_email_items").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>
  <li>
    <p><%= t("views.privacy_policy.data_retention_2_intro_html") %>:</p>
    <ul class="list--bulleted">
      <% t("views.privacy_policy.data_retention_2_items").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>
</ol>

<p><%= t("views.privacy_policy.data_retention_improve") %></p>

<p><%= t("views.privacy_policy.auto_collect_intro") %></p>
<ul class="list--bulleted">
  <% t("views.privacy_policy.auto_collect_items").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<h3><%= t("views.privacy_policy.how_we_use_title") %></h3>

<p><%= t("views.privacy_policy.how_we_use_business_intro") %></p>
<ul class="list--bulleted">
  <% t("views.privacy_policy.how_we_use_business_items").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<p><%= t("views.privacy_policy.no_email") %></p>

<p><%= t("views.privacy_policy.no_text_html") %></p>

<h3><%= t("views.privacy_policy.how_we_share_title") %></h3>

<p><%= t("views.privacy_policy.no_sell") %></p>
<ul class="list--bulleted">
  <% t("views.privacy_policy.share_items").each do |item| %>
    <li><%= item %></li>
  <% end %>
  <li><%= t("views.privacy_policy.share_research_intro") %>
    <ul class="list--bulleted">
      <% t("views.privacy_policy.share_research_items").each do |item| %>
        <li><%= item %></li>
      <% end %>
    </ul>
  </li>
  <li><%= t("views.privacy_policy.share_contractors") %></li>
  <li><%= t("views.privacy_policy.share_legal") %></li>
</ul>

<p><%= t("views.privacy_policy.analytics") %></p>

<h3><%= t("views.privacy_policy.how_we_protect_title") %></h3>

<p><%= t("views.privacy_policy.protect_intro") %></p>
<ul class="list--bulleted">
  <% t("views.privacy_policy.protect_items").each do |item| %>
    <li><%= item %></li>
  <% end %>
</ul>

<p><%= t("views.privacy_policy.protect_disclaimer") %></p>

<p><%= t("views.privacy_policy.breach_notification") %></p>

<p><%= t("views.privacy_policy.security_questions") %></p>

<h3><%= t("views.privacy_policy.changes_title") %></h3>

<p><%= t("views.privacy_policy.changes_text") %></p>

<h3><%= t("views.privacy_policy.effective_date_title") %></h3>

<p><%= t("views.privacy_policy.effective_date_text") %></p>

<h3><%= t("views.privacy_policy.questions_title") %></h3>

<p><%= t("views.privacy_policy.questions_text") %></p>

<p><%= t("views.privacy_policy.resolve") %></p>
