<% content_for :question_title, t("views.basic_info_case_number.edit.title") %>

<h1 class="h2"><%= content_for(:question_title) %></h1>

<div class="notice white">
  <%= image_tag "magnifying-glass-doc.svg", class: "illustration left-justified" %>

  <p>
    <strong><%= t("views.basic_info_case_number.edit.help_text_county_letter.title", office_name: office_name) %></strong>
  </p>
  <ol class="list--bulleted">
    <% t("views.basic_info_case_number.edit.help_text_county_letter.help_bullets", case_number_label: case_number_label).each do |li| %>
      <li><%= li %></li>
    <% end %>
  </ol>
</div>

<div class="notice white">
  <%= image_tag "desktop-monitor.svg", class: "illustration left-justified" %>
  <% state = @current_screener.state.downcase %>
  <p>
    <strong><%= t("views.basic_info_case_number.edit.help_text_website.title", website_name: t("views.basic_info_case_number.edit.help_text_website.#{state}.website_name")) %></strong>
  </p>
  <ol class="list--bulleted">
    <% t("views.basic_info_case_number.edit.help_text_website.#{state}.help_bullets_html").each do |li| %>
      <li><%= li %></li>
    <% end %>
  </ol>
</div>

<%= form_with model: @model, url: { action: :update }, data: { turbo: false }, local: true, method: "put", builder: Cfa::Styleguide::CfaFormBuilder do |f| %>
  <%= f.cfa_input_field(:case_number, t("views.basic_info_case_number.edit.case_number_label"), help_text: t("general.this_is_optional")) %>
  <%= f.submit t("general.continue"), class: "button button--primary" %>
  <br/>
  <%= f.submit t("general.continue_without_this_number"), class: "button" %>
<% end %>
