<%= extends :application do %>
  <% content_for :page_title do %>
    <%= yield :question_title %>
  <% end %>

  <section class="slab">
    <div class="grid">
      <div class="grid__item width-three-fourths">
        <div class="card">
          <%= yield :notices %>
          <% if prev_path %>
            <div class="back grid">
              <%= link_to t("general.back"), prev_path %>
            </div>
          <% end %>
          <% if show_progress_bar %>
            <div class="progress-bar spacing-above-35">
              <%= image_tag "progress-bar-#{controller.progress_bar_step}.svg" %>
              <p class="spacing-above-15">
                <%= t("general.progress_bar_text_html", step: controller.progress_bar_step, section_name: controller.section_name) %>
              </p>
            </div>
          <% end %>
          <%= yield %>
        </div>
      </div>
    </div>
  </section>
<% end %>
